:root {
  --color-theme-100: '';
  --color-theme-200: '';
  --color-theme-300: '';
  --color-theme-400: '';
  --color-theme-500: '';
  --color-theme-600: '';
  --color-theme-700: '';
  --color-theme-800: '';
  --color-theme-900: '';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}
p, h1, h2, h3 {
  cursor: default;
}
::placeholder {
  @apply text-red-500 !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.ar-square {
  aspect-ratio: 1 / 1;
}
.pos-initial {
  @apply top-0 left-14;
}

/* Element UI. */
.el-button {
  font-weight: normal !important;
}
.el-form-item {
  @apply -space-y-4;
  margin-bottom: 4px !important;
}
.el-switch__core {
  align-items: center !important;
  border-width: 2px !important;
  border-radius: 99px !important;
  display: flex !important;
  height: 30px !important;
  width: 60px !important;
}
.el-switch__action {
  height: 20px !important;
  width: 20px !important;
}
.el-switch.is-checked .el-switch__core {
  border-color: var(--color-theme-500) !important;
}
.el-switch.is-checked .el-switch__action {
  left: 85% !important;
}
.el-switch__core .el-switch__action {
  left: 10% !important;
  top: auto !important;
}

/* Transitions. */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.slide-b-leave-active,
.slide-b-enter-active {
  transition: 0.5s;
}
.slide-b-enter-from {
  transform: translate(-100vw, 0);
}
.slide-b-leave-to {
  transform: translate(100vw, 0);
}
.slide-f-leave-active,
.slide-f-enter-active {
  transition: 0.5s;
}
.slide-f-enter-from {
  transform: translate(100vw, 0);
}
.slide-f-leave-to {
  transform: translate(-100vw, 0);
}