:root {
  /* Dark/Light values. */
  --color-theme-0: '';
  --color-theme-100: '';
  --color-theme-200: '';
  --color-theme-300: '';
  --color-theme-400: '';
  --color-theme-500: '';
  --color-theme-600: '';
  --color-theme-700: '';
  --color-theme-800: '';
  --color-theme-900: '';
  /* Color values. */
  --color-color-100: '';
  --color-color-200: '';
  --color-color-300: '';
  --color-color-400: '';
  --color-color-500: '';
  --color-color-600: '';
  --color-color-700: '';
  --color-color-800: '';
  --color-color-900: '';
  /* Grid columns value. */
  --grid-cols-list: '';
  --grid-cols-image: '';
  /* Grid corner radius value. */
  --rounded-list: '';
  --rounded-image: '';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}
p, h1, h2, h3 {
  cursor: default;
}
p {
  @apply text-theme-800;
}
.dark p {
  @apply text-theme-100 text-shadow;
}
h1 {
  @apply text-color-800;
}
.dark h1 {
  @apply text-color-500 text-shadow;
}
h2 {
  @apply text-color-600;
}
.dark h2 {
  @apply text-color-400 text-shadow;
}
h3 {
  @apply text-color-400;
}
.dark h3 {
  @apply text-color-200 text-shadow;
}
h4 {
  @apply text-theme-600;
}
.dark h4 {
  @apply text-theme-200 text-shadow;
}
.text-light h1,
.text-light h2 {
  @apply text-color-500;
}
.text-light h4,
.text-light p {
  @apply text-theme-0;
}
.text-shadow {
  text-shadow: 1.5px 1px rgb(var(--color-theme-900));
}
::-webkit-scrollbar {
  @apply bg-transparent w-6 !important;
}
::-webkit-scrollbar-thumb {
  @apply bg-theme-200 dark:bg-theme-600 bg-clip-content border-8 border-solid border-transparent rounded-full !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.ar-square {
  aspect-ratio: 1 / 1;
}
.pos-initial {
  @apply top-0 left-14;
}

/* Transitions. */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.slide-b-leave-active,
.slide-b-enter-active {
  transition: 0.5s;
}
.slide-b-enter-from {
  transform: translate(-100vw, 0);
}
.slide-b-leave-to {
  transform: translate(100vw, 0);
}
.slide-f-leave-active,
.slide-f-enter-active {
  transition: 0.5s;
}
.slide-f-enter-from {
  transform: translate(100vw, 0);
}
.slide-f-leave-to {
  transform: translate(-100vw, 0);
}