@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

.data-container {
  @apply text-lg mt-1 space-x-2 flex items-center;
}

.data-title {
  @apply text-xl font-bold;
}

.el-form-item{
  @apply -space-y-4;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.min-h-content {
  min-height: calc(100% - 6.25rem);
}

.max-h-content {
  max-height: calc(100% - 4rem);
}

.max-w-content {
  max-width: calc(100% - 4rem);
}

.w-content {
  width: calc(100% - 3.5rem);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}